@font-face {
  font-family: 'Noto Sans CJK KR';
  src: url('/fonts/NotoSans-Bold.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: url('/fonts/NotoSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: url('/fonts/NotoSans-BoldItalic.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: url('/fonts/NotoSans-Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
